.tasks_page{
    width: 100%;
    height: 100%;
}

.tasks_page_hide{
    position: fixed; /* Фиксированное позиционирование относительно окна браузера */
    top: 50%; /* По центру по вертикали */
    left: 50%; /* По центру по горизонтали */
    transform: translate(-50%, -50%); /* Смещаем на половину ширины и высоты для точного центрирования */
    width: 250px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
    color: white;
    border-radius: 10px;
    z-index: 100; /* Чтобы всплывающее окно было поверх других элементов */
    transition: opacity 0.5s ease, visibility 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: left; /* Выравнивание текста по левой стороне */
}
/* Стили для блока с балансом */
.balance-container {
    font-family: 'Jost', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.balance {
    font-family: 'Jost', sans-serif; 
    background: linear-gradient(90deg, #150E1A 0%, #373737 50%, #000000 100%);
    border-radius: 20px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 24px;
    color: #fff;
    position: relative;
}

.balance span {
    font-size: 20px;
    color: #fff;
    font-family: 'Jost', sans-serif; 
}

.balance img {
    width: 30px;
    height: 30px;
}

.balance-info-button {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    font-size: 20px;
    color: #000;
    border: none;
    font-family: 'Jost', sans-serif; 
}

/* Заголовок Магазин */
.shop-title {
    text-align: center;
    font-size: 28px;
    margin-top: 20px; /* Добавлено расстояние сверху до слова "Магазин" */
    margin-bottom: 30px;
    font-family: 'Jost', sans-serif; /* Применение шрифта Jost к заголовку */
}

/* Стили для подзаголовков */
.shop-subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: 'Jost', sans-serif; /* Применение шрифта Jost к подзаголовкам */
}

.shop-item-info, .shop-subscription-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Выровняем контент по центру */
    text-align: center;
    background: linear-gradient(90deg, #150E1A 0%, #373737 50%, #000000 100%);
    border: 3px solid rgba(255, 255, 255, 0.289);
    border-radius: 15px;
    width: 100px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/* Дополнительные стили для центрирования изображений и текста */
.shop-item-info h3, .shop-subscription-option h3 {
    font-size: 12px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    word-wrap: break-word;
    font-family: 'Jost', sans-serif;
}

.shop-item-info img, .shop-subscription-option img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    position: relative;
    top: 2px;
}

.shop-items {
    display: flex;
    justify-content: flex-start; /* Выровняем элементы по левому краю */
    gap: 10px; /* Расстояние между элементами */
    margin: 20px 5%; /* Отступы по бокам */
    font-family: 'Jost', sans-serif;
    margin-left: 40px; /* Добавляем отступ слева */
}
/* Стили для текста с описанием */
.shop-item-info p, .shop-subscription-option p {
    font-size: 12px; /* Размер текста для описаний */
    color: #ccc;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

/* Стили для валютной иконки */
.currency-icon img {
    width: 12px; /* Меньшая ширина иконки */
    height: 12px; /* Высота для компактного вида */
    margin-left: 5px; /* Отступ между текстом и картинкой */
    position: relative;
    top: 10px; /* Корректируем положение иконки */
}

.shop-item {
    position: relative; /* Устанавливаем относительное позиционирование для родительского элемента */
}

.item-get-prize {
    position: absolute; /* Абсолютное позиционирование внутри .shop-item */
    top: 0;
    left: 0;
    width: 100%; /* Покрываем всю ширину родительского элемента */
    height: 100%; /* Покрываем всю высоту родительского элемента */
    background: linear-gradient(90deg, #150E1A 0%, #373737 50%, #000000 100%);
    border: 3px solid rgba(255, 255, 255, 0.289);
    border-radius: 15px; /* Полупрозрачный черный фон */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 10px; /* Скругление углов */
    z-index: 10; /* Устанавливаем z-index для покрытия контента внутри */
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
